body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("assets/jW0P2Un.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "minecraft-font", sans-serif;
}

@font-face {
  font-family: Pokemon;
  src: url("assets/pokemon-ds-font.ttf");
}

.links .dropdown-content img {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.links img {
  position: relative;
  z-index: 1;
  margin: 0 2px;
  border-radius: 50%;
}

.discord {
  display: inline;
}

.hide-discord {
  display: none;
  color: transparent;
  transition: opacity 3s;
  opacity: 1;
}

.dropbtn {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #000;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: "Pokemon";
  font-size: 20px;
  letter-spacing: 1px;
  right: -60px;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex: 1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.image-effect {
  transition: transform 0.3s ease-out;
}

.image-effect:hover {
  transform: scale(1.2);
}
